
# Variables de entorno para desarrollo local
# Copia este archivo como .env y completa los valores necesarios

# Puerto del servidor
PORT=3000

# Credenciales para MongoDB (usadas por docker-compose.yml)
MONGO_INITDB_ROOT_USERNAME=tu_usuario
MONGO_INITDB_ROOT_PASSWORD=tu_contraseña
MONGO_INITDB_DATABASE=tu_basededatos

# URI de conexión a MongoDB (usada por la app)
# Formato: mongodb://[usuario]:[contraseña]@[host]:[puerto]/[database]?authSource=admin
MONGO_URI=mongodb://tu_usuario:tu_contraseña@localhost:27019/tu_basededatos?authSource=admin

# Ethereal Email Configuration
EMAIL_HOST=xx.ethereal.email
EMAIL_PORT=xxx
EMAIL_USER=miltogfdgfdn70@ethereal.email
EMAIL_PASS=x1xFSPy2uEkZdavNugdfgdfgdfgF