.footer-test {
  background-color: rgb(7, 7, 240);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  /* Y-X */
  padding: 10px 20px;
  /* T-R-B-L */
  padding: 10px 30px 40px 10px;
  /* all */
  padding: 20px;
  padding: 1em;

  margin-top: 60px;
  /* margin-right: 20px; */
  border: 4px solid red;

  /* em -> 1em = 16px  */
  /* rem -> 1rem = 16px */
  font-size: 16px;
  font-size: 1rem;
}

.footer {
  padding: 2em 0;
  text-align: center;
  font-weight: 100;
  font-style: italic;
  background: radial-gradient(circle, rgba(155, 61, 42, 1) 0%, rgba(63, 158, 145, 1) 19%, rgba(199, 145, 87, 1) 55%, rgba(147, 208, 113, 1) 73%, rgba(237, 221, 83, 1) 100%);
}

@media  screen and (width > 768px) {
  .footer {
    background: radial-gradient(circle,rgba(87, 68, 68, 1) 0%, rgba(156, 63, 158, 1) 42%, rgba(199, 145, 87, 1) 77%, rgba(147, 208, 113, 1) 91%, rgba(237, 221, 83, 1) 100%);
  }
  
}